exportPattern("^[[:alpha:]]+")
S3method(DEGeneExpr, default)
S3method(FactorNetworks, default)
S3method(FilterEdges, FactorNetworks)
S3method(FilterEdges, SIMoNeNet)
S3method(FilterEdges, ShortPathSTRINGNet)
S3method(MultiDEGeneExpr, default)
S3method(MultiNetworks, default)
S3method(SIMoNeNet, default)
S3method(STRINGNet, default)
S3method(ShortPathSTRINGNet, default)
S3method(WGCNANet, default)
S3method(export, SIMoNeNet)
S3method(export, STRINGNet)
S3method(export, ShortPathSTRINGNet)
S3method(export, WGCNANet)
S3method(plot, FactorNetworks)
S3method(plot, SIMoNeNet)
S3method(plot, WGCNANet)
S3method(print, DEGeneExpr)
S3method(print, FactorNetworks)
S3method(print, MultiDEGeneExpr)
S3method(print, MultiNetworks)
S3method(print, SIMoNeNet)
S3method(print, STRINGNet)
S3method(print, ShortPathSTRINGNet)
S3method(print, WGCNANet)
S3method(summary, SIMoNeNet)
S3method(summary, STRINGNet)
S3method(summary, ShortPathSTRINGNet)
S3method(summary, WGCNANet)
importFrom("graphics", "abline", "barplot", "boxplot", "hist", "legend", "par", "plot", "text")
importFrom("grDevices", "dev.off", "rainbow")
importFrom("stats", "median")
importFrom("utils", "URLencode", "head", "read.table", "write.table")
